@import "tailwindcss";

:root {
  --background: #07090E;
  --foreground: #F8FAFC;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@theme {
  --font-sans: var(--font-plus-jakarta), ui-sans-serif, system-ui, sans-serif;
  
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0
    }

    to {
      height: var(--radix-accordion-content-height)
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height)
    }

    to {
      height: 0
    }
  }
}

button,
input[type="button"],
input[type="submit"],
select,
[role="button"] {
  cursor: pointer !important;
}